.dashboard-container {
  display: flex;
  flex-direction: column;
  background-color: #202124;
  min-height: 100vh;
  padding: 0;
  overflow-x: hidden;
}

.search {
  margin-top: 5vw;
  margin-left: 240px;
  padding: 20px;
  background-color: #202124;
}

.singlenote {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 20px;
  margin-left: 70px;
}

@media (max-width: 1024px) {
  .search,
  .singlenote {
    margin-left: 0;
    padding: 15px;
  }

  .singlenote {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .search,
  .singlenote {
    padding: 10px;
  }

  .singlenote {
    justify-content: center;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .search,
  .singlenote {
    padding: 5px;
  }

  .singlenote {
    justify-content: center;
    padding: 5px;
  }
}
